body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    padding: 10px;
    border: 1px solid #000;
    margin: 0px;
    text-align: center;
}

nav {
    padding: 5px;
    border: 1px solid #000;
    margin: 0px;
    text-align: center;
}

section {
    padding: 0px;
    border: 0px solid white;
    display: flex;
    justify-content: space-between;
} 

.column1 {
    flex: 1;
    border: 1px solid #000;
    padding: 90px;
    margin: 0;
    text-align: center;
}

.column2 {
    flex: 1;
    border: 1px solid #000;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.upper-content {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    margin: 10px;
}

.sub-column1 {
    border: 1px solid #000;
    padding: 10px;
    height: 200px;
    /*width: 150px !important; */
    margin: 10px;
    flex: 1;
}

.sub-column2 {
    flex: 2;
    border: 1px solid #000;
    padding: 10px;
    height: 200px;
   /* width: 30%; */
    margin: 10px;
}

.lower-content {
    border: 1px solid #000;
    padding: 50px;
    margin: 20px;
    height: 200px; 
    flex: 5;
}

footer {
    padding: 10px;
    border: 1px solid #000;
    margin: 0px;
    text-align: center;
} 

@media screen and (max-width: 768px) {
    section {
        flex-direction: column; /* Stack columns vertically on smaller screens */
    }
    .column1, .column2 {
        flex-basis: auto; /* Allow columns to take up available space equally */
        padding: 10px; /* Adjust padding for smaller screens */
    }
    .sub-column1, .sub-column2 {
        width: 100%; /* Make sub-columns take up full width on smaller screens */
    }
}